body {
  font-family: Arial, sans-serif;
  background-image: url(./image1.jpg);
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 55px;
  border: 2px solid #080808;
  border-radius: 5px;
  margin-top: 50px;
}

.container h1 {
  text-align: center;
}

input[type="text"],
input[type="password"],
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.error {
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}
